<div class="w-full py-4"
style="
    height: 500px;
    background: linear-gradient(#00000071,#00000071), url('../../static/images/class-2.jpg');
    background-size: cover;
">
    <div class="container mx-auto my-5">
        <div class="d-flex flex-column justify-content-center align-items-center text-center">
            <h1 class="text-white">Book A Gym Class</h1>
            <p class="text-white">
                🚀 Ready to take action? Click the button below to unlock a world of possibilities and start your
                journey towards fitness and a sound mind. Don't miss out on this opportunity – your future begins with a
                single click! 🔥
            </p>
            <a href="/user/classes" class="btn btn-secondary h4">Book a Class now</a href="/user/classes">
        </div>
    </div>
</div>