<!-- <div style="min-height: 30px;"></div> -->
<footer class="footer">

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-4 bg-primary py-4 py-md-5 py-xxl-8">
                    <div class="row h-100 align-items-end justify-content-center">
                        <div class="col-12 col-md-11 col-xl-10">
                            <div class="footer-logo-wrapper">
                                <a class="text-white text-lg" href="/">
                                    <h3>Fitness First Gym</h3>
                                </a>
                            </div>
                            <div class="address-wrapper mt-5">
                                <address class="mb-2 text-white">Lekki, Lagos, Nigeria</address>
                                <p class="mb-2">
                                    <a class="link-light text-decoration-none" href="tel:+xxx">(234)000-123-123</a>
                                </p>
                                <p class="mb-0">
                                    <a class="link-light text-decoration-none"
                                        href="mailto:demo@yourdomain.com">enquires@fitnessfirstgym.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 bg-light py-4 py-md-5 py-xxl-8">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-11 col-xxl-10">
                            <div class="row gy-4 gy-sm-0">
                                <div class="col-6 col-sm-3">
                                    <div class="widget">
                                        <h4 class="widget-title mb-4">Pages</h4>
                                        <ul class="list-unstyled">
                                            <li class="mb-3">
                                                <a href="/contact-us"
                                                    class="link-secondary text-decoration-none">Contact Us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>

</footer>
