<!-- Pricing 3 - Bootstrap Brain Component -->
<section class="bsb-pricing-3 py-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7">
                <h3 class="fs-5 mb-2 text-secondary text-center text-uppercase">Our Pricing</h3>
                <h2 class="display-5 mb-5 mb-xl-9 text-center">We offer simple, reasonable, and diaphanous pricing
                    plans.</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-fluid bg-light border pb-4 mt-md-6 shadow">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="card border-0 bg-transparent">
                                <div class="card-body p-4 p-xxl-5">
                                    <h2 class="h4 mb-2">Starter</h2>
                                    <p class="text-secondary m-0">Scale as you go from</p>
                                    <hr class="my-4 border-dark-subtle">
                                    <h4 class="display-3 fw-bold text-primary m-0">$45</h4>
                                    <p class="text-secondary m-0">USD / Month</p>
                                    <div class="d-grid gap-2 my-4">
                                        <a href="#!" class="btn btn-lg btn-outline-primary">Choose Plan</a>
                                    </div>
                                    <ul class="list-group list-group-flush m-0">
                                        <li class="list-group-item bg-transparent">
                                            <span><strong>5</strong> Bootstrap Install</span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            <span><strong>100,000</strong> Visits</span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            <span><strong>30 GB</strong> Disk Space</span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            <span>Free <strong>SSL and CDN</strong></span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            <span>Free <strong>Support</strong></span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            <span><strong>Weekly</strong> Reports</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card bg-white border-0 border-top pt-md-6 shadow-sm bsb-pricing-popular">
                                <div class="card-body position-relative p-4 p-xxl-5">
                                    <span
                                        class="badge text-bg-warning position-absolute top-0 start-50 translate-middle">Most
                                        Popular</span>
                                    <h2 class="h4 mb-2">Pro</h2>
                                    <p class="text-secondary m-0">30-day money back gurantee</p>
                                    <hr class="my-4 border-dark-subtle">
                                    <h4 class="display-3 fw-bold text-primary m-0">$75</h4>
                                    <p class="text-secondary m-0">USD / Month</p>
                                    <div class="d-grid gap-2 my-4">
                                        <a href="#!" class="btn btn-lg btn-primary">Choose Plan</a>
                                    </div>
                                    <ul class="list-group list-group-flush m-0">
                                        <li class="list-group-item">
                                            
                                            <span><strong>20</strong> Bootstrap Install</span>
                                        </li>
                                        <li class="list-group-item">
                                            
                                            <span><strong>250,000</strong> Visits</span>
                                        </li>
                                        <li class="list-group-item">
                                            
                                            <span><strong>50 GB</strong> Disk Space</span>
                                        </li>
                                        <li class="list-group-item">
                                            
                                            <span>Free <strong>SSL and CDN</strong></span>
                                        </li>
                                        <li class="list-group-item">
                                            
                                            <span>Free <strong>Support</strong></span>
                                        </li>
                                        <li class="list-group-item">
                                           
                                            <span><strong>Weekly</strong> Reports</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="card border-0 bg-transparent">
                                <div class="card-body p-4 p-xxl-5">
                                    <h2 class="h4 mb-2">Business</h2>
                                    <p class="text-secondary m-0">Free trial is available</p>
                                    <hr class="my-4 border-dark-subtle">
                                    <h4 class="display-3 fw-bold text-primary m-0">$125</h4>
                                    <p class="text-secondary m-0">USD / Month</p>
                                    <div class="d-grid gap-2 my-4">
                                        <a href="#!" class="btn btn-lg btn-outline-primary">Choose Plan</a>
                                    </div>
                                    <ul class="list-group list-group-flush m-0">
                                        <li class="list-group-item bg-transparent">
                                            
                                            <span><strong>50</strong> Bootstrap Install</span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            
                                            <span><strong>400,000</strong> Visits</span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            
                                            <span><strong>100 GB</strong> Disk Space</span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            
                                            <span>Free <strong>SSL and CDN</strong></span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            
                                            <span>Free <strong>Support</strong></span>
                                        </li>
                                        <li class="list-group-item bg-transparent">
                                            
                                            <span><strong>Weekly</strong> Reports</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
