<!-- Blog 2 - Bootstrap Brain Component -->
{% if current_user.is_authenticated and current_user.membership_id != None %}


<section class="py-3 py-md-5 py-xl-8">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="mb-4 display-5 text-center">Our Packages</h2>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-3 gy-lg-0 gx-xxl-5">
            
            {% if packages %}


            {% for package in packages %}
            <div class="col-12 col-lg-4">
                <article class="p-3 border border-secondary rounded-2 rounded-top rounded-bottom">
                    <div class="entry-header mb-3">
                        <h2 class="entry-title h4 mb-0">
                            {{package.name}}
                        </h2>
                        <div class="my-2">
                            <h2 class="entry-title h5 mb-0 text-primary">
                                &dollar;&nbsp;{{package.price}}
                            </h2>
                        </div>
                    </div>
                    <div class="entry-footer">
                        <p class="card-text">{{package.description}}</p>
                        <div class="my-2">
                            <button class="btn btn-primary">Subscribe</button>
                        </div>
                    </div>
                </article>
            </div>
            {% endfor %}
            {%else%}
            <div class="container overflow-hidden">
                <div class="row gy-3 gy-lg-0 gx-xxl-5">
                    <p class="text-center opacity-75 h3">sorry, we currently do not have a package</p>
                </div>
            </div>

            {% endif %}
        </div>
    </div>
</section>

{% endif %}





<!-- <div class="col-12 col-lg-4">
    <article class="p-3 border border-secondary rounded-2 rounded-top rounded-bottom">
        <div class="entry-header mb-3">
            <ul class="entry-meta list-unstyled d-flex mb-2">
                <li>
                    <a class="link-primary text-decoration-none" href="#!">Business</a>
                </li>
            </ul>
            <h2 class="entry-title h4 mb-0">
                <a class="link-dark text-decoration-none" href="#!">How to Improve Your Project Management
                    Skills</a>
            </h2>
        </div>
        <div class="entry-footer">
            <ul class="entry-meta list-unstyled d-flex align-items-center mb-0">
                <li>
                    <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                        <span class="ms-2 fs-7">7 Feb 2023</span>
                    </a>
                </li>
                <li>
                    <span class="px-3">&bull;</span>
                </li>
                <li>
                    <a class="link-secondary text-decoration-none d-flex align-items-center" href="#!">

                        <span class="ms-2 fs-7">55</span>
                    </a>
                </li>
            </ul>
            <div class="my-2">
                <button class="btn btn-primary">Subscribe</button>
            </div>
        </div>
    </article>
</div> -->