<!-- Testimonial 3 - Bootstrap Brain Component -->
<div style="min-height: 30px"></div>
<section class="bg-light py-5 py-xl-">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                <h2 class="fs-6 text-secondary mb-2 text-uppercase text-center">
                    Happy Members
                </h2>
                <p class="display-5 mb-4 mb-md-5 text-center">
                    We deliver what we promise. See what members are expressing
                    about us.
                </p>
                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
            </div>
        </div>
    </div>

    <div class="container overflow-hidden">
        <div class="row gy-4 gy-md-0 gx-xxl-5">
            <div class="col-12 col-md-4">
                <div
                    class="card border-0 border-bottom border-primary shadow-sm"
                >
                    <div class="card-body p-4 p-xxl-5">
                        <figure>
                            <figcaption>
                                <div
                                    class="bsb-ratings text-warning mb-3"
                                    data-bsb-star="5"
                                    data-bsb-star-off="0"
                                ></div>
                                <blockquote class="bsb-blockquote-icon mb-4">
                                    I'm a regular member at Fitness First GYM,
                                    and I must say that their website has made
                                    my gym experience so much better. The online
                                    booking system is incredibly convenient. I
                                    can easily reserve spots for my favorite
                                    classes and check my booking history.
                                </blockquote>
                                <h4 class="mb-2">Amanda</h4>
                                <h5 class="fs-6 text-secondary mb-0">
                                    Regular Fitness Member
                                </h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div
                    class="card border-0 border-bottom border-primary shadow-sm"
                >
                    <div class="card-body p-4 p-xxl-5">
                        <figure>
                            <figcaption>
                                <div
                                    class="bsb-ratings text-warning mb-3"
                                    data-bsb-star="4"
                                    data-bsb-star-off="1"
                                ></div>
                                <blockquote class="bsb-blockquote-icon mb-4">
                                    Fitness First GYM's website has been a
                                    game-changer for me. I love the variety of
                                    membership packages they offer, and the
                                    ability to choose between monthly and annual
                                    plans is fantastic. It's flexible and caters
                                    to different fitness needs. "
                                </blockquote>
                                <h4 class="mb-2">James</h4>
                                <h5 class="fs-6 text-secondary mb-0">
                                    Premium Member
                                </h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div
                    class="card border-0 border-bottom border-primary shadow-sm"
                >
                    <div class="card-body p-4 p-xxl-5">
                        <figure>
                            <figcaption>
                                <div
                                    class="bsb-ratings text-warning mb-3"
                                    data-bsb-star="5"
                                    data-bsb-star-off="0"
                                ></div>
                                <blockquote class="bsb-blockquote-icon mb-4">
                                    I've been a member of Fitness First GYM for
                                    a while now, and I can't praise their
                                    website enough. It's the perfect blend of
                                    simplicity and functionality. I use it to
                                    book fitness classes and trainers, and I've
                                    never encountered any issues.
                                </blockquote>
                                <h4 class="mb-2">Luke Reeves</h4>
                                <h5 class="fs-6 text-secondary mb-0">
                                    Yoga Member
                                </h5>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
