{% extends "components/admin_base.html" %}
{% block head %}
<title> Admin | Preview Classes</title>
{% endblock head %}

{% block content %}

<h1 class="my-2">All Classes</h1>
<hr />

{% if not trainers %}
<div class="container my-4" style="min-height: 80vh; display: grid; place-content: center;">
    <h2 class="text-center">No Class</h2>
    <p class="h5 text-center" style="opacity: .6;">Create a new class to view here</p>
</div>
{% else %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row align-items-stretch justify-content-start card-deck">
    {% for class in classes %}

    <div class="col-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-primary">{{class.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{class.category.name}}</h6>
                <p class="card-text">{{class.description}}</p>
                <a href="/admin/class/edit/{{class.id}}" class="card-link btn btn-primary">Modify</a>
                <a href="/admin/class/delete/{{class.id}}" class="card-link btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    
    {% endfor %}
</div>
{% endif %}
{% endblock content %}